apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
  namespace: notification
  labels:
    app: notification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification
        image: kamilbabayev/demo-bank:notification
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: DB_HOST
          value: "postgres-notification.infra.svc.cluster.local"
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: "notification"
        - name: DB_PASSWORD
          value: "notification123"
        - name: DB_NAME
          value: "notificationdb"
        - name: KAFKA_BROKERS
          value: "kafka.infra.svc.cluster.local:9092"
        - name: REDIS_URL
          value: "redis://redis.redis.svc.cluster.local:6379"
